aside {
    background-color: #ffffff;
    max-width: 300px;
    min-height: 141px;
    width: 100%;
    margin-right: 15px;
    margin-bottom: auto;
    border-radius: 10px;
    .aside__nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        &__link {
            position: relative;
            margin: 15px 0px;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                margin-top: 5px;
                height: 1px;
                left: 0;
                bottom: -3px;
                background-color: red;
                transition: 0.3s;
                transform: scaleX(0);
            }

            &:hover:after {
                transform: scaleX(1);
            }
        }

        #earring::before {
            content: "";
            position: absolute;
            left: -32px;
            top: -4px;
            width: 25px;
            height: 25px;
            background-image: url(./img/earring.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }

        #rings::before {
            content: "";
            position: absolute;
            left: -32px;
            top: -4px;
            width: 25px;
            height: 25px;
            background-image: url(./img/rings.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }

        #pendant::before {
            content: "";
            position: absolute;
            left: -32px;
            top: -4px;
            width: 25px;
            height: 25px;
            background-image: url(./img/pendant.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }

    }
}

@media (max-width: 1100px) {
    aside {
        display: none;
    }
}
