.main__inner {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
}
.main__inner .article__sale {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
}
.main__inner .article__sale__box {
  max-width: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e5e5;
  transition: all 0.2s linear;
}
.main__inner .article__sale__box:first-child {
  margin-right: 10px;
}
.main__inner .article__sale__box__img {
  max-width: 420px;
  width: 100%;
  max-height: 115px;
  height: 100%;
  overflow: hidden;
}
.main__inner .article__sale__box__img img {
  width: 100%;
  height: 115px;
}
.main__inner .article__sale__box__description {
  height: 48px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  font-size: 14px;
}
.main__inner .article__sale__box:hover {
  transform: scale(1.03);
}
.main__inner .article__catalog {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.main__inner .article__catalog__title {
  font-family: "Roboto-Bold";
  font-size: 25px;
}
.main__inner .article__catalog__container {
  display: grid;
  grid-template-areas: "earring rings pendant";
  grid-template-columns: repeat(3, 1fr);
}
.main__inner .article__catalog__container__inner {
  max-width: 265px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  transition: all 0.2s linear;
}
.main__inner .article__catalog__container__inner__card > img {
  max-width: 263px;
  width: 100%;
  height: 263px;
}
.main__inner .article__catalog__container__inner:hover {
  transform: scale(1.02);
  box-shadow: 0px 3px 12px #cacaca;
}
.main__inner .article__catalog__container__inner:hover .article__catalog__container__inner__card__description {
  color: red;
}
.main__inner .article__catalog__container__inner#pendant {
  grid-area: pendant;
}
.main__inner .article__catalog__container__inner#rings {
  grid-area: rings;
}
.main__inner .article__catalog__container__inner#earring {
  grid-area: earring;
}

@media (max-width: 1170px) {
  .article__catalog__container {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-areas: "earring  rings" "pendant pendant" !important;
  }
  .article__catalog__container #pendant {
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
  }
}
@media (max-width: 1100px) {
  .main__inner {
    justify-content: center !important;
  }
}
@media (max-width: 600px) {
  .article__sale {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: center !important;
  }
  .article__sale__box {
    margin: 0px !important;
    margin-bottom: 10px !important;
  }
  .article__sale__box:last-child {
    margin-bottom: 0px !important;
  }

  .article__catalog__title {
    text-align: center !important;
  }

  .article__catalog {
    justify-content: center !important;
  }
  .article__catalog__container {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, 1fr) !important;
    grid-template-areas: "earring" "rings" "pendant" !important;
  }
  .article__catalog__container #pendant {
    grid-column-start: unset !important;
    grid-column-end: unset !important;
  }
}/*# sourceMappingURL=Home.css.map */